html {
  background-color: #fffee0;
}
.category {
  margin-left: 10px;
  font-family: 'Roboto';
  font-size: 20px;
  margin-top: calc(5% - 10px);
  background-position: center;
}
.categorytitle {
  color: #ff6699;
  font-size: 35px;
}
.content {
  color: #1d1c1a;
  text-decoration: none;
}
a {
  color: #1d1c1a;
  text-decoration: none;
}
a:hover {
  color: #ce9dd9;
}
img {
  width: 250px;
  height: 250px;
  align-items: center;
  border-color: #fafafa;
  border: dashed;
  float: left;
  margin-right: 15px;
  margin-left: 50px;
}
.u {
  color: #6699ff;
}